.userPost {
    border-radius: 20px;
    background: rgba(100, 100, 100, 0.10);
    border: solid 2px transparent;
    color: black;
    font-size: 15px;
    margin: auto;
    width: 50%;
    padding: 1%;
    

}
.userPostContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.comment {
    border-radius: 50px;
    background: rgba(100, 100, 100, 0.10);
    border: solid 2px transparent;
    color: black;
    padding: 10px;
    font-size: 15px;
    

}
.commentContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.addCommentTxt {
    border-radius:11px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:10px;
    padding:16px 31px;
    width: 70%;
	text-decoration:none;

    
}

.addCommentBtn {
    border-radius:11px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:1% 1%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	background: var(--primary-red);
    min-width: 20%;
}


.postList {
    

}

.postListContainer {
    border-radius: 50px;
    background: rgba(100, 100, 100, 0.10);
    border: solid 2px transparent;
    color: black;
    padding: 10px;
    font-size: 15px;
    margin: auto;
    width: 50%;
    padding: 1%;
    

}

.commentPost {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.likes {
 
}
.likes:hover {
    color: pink;
}

.newpost {
    border-style: solid;
    background-color: rgb(245, 245, 245);
    /* border: black; */
}