.ask-container, .post-container {
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 50px;
}

#addCommentTxt {
	width: 50%;
}

.postListContainer>div {
	width: 100%;
	text-align: left;
	height: 200px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
	padding: 25px;
}

a {
	text-decoration: none;
}

.postListContainer>div>div {
	text-decoration: none !important;
}

.postListContainer>div:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.post-title {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 10px;
}

.post-author {
	font-style: oblique;
	margin-bottom: 10px;
}

.likes {
	font-size: 20px;
}

.heart {
	color: pink;
	font-size: 28px;
	margin-left: 5px;
	position: relative;
	top: 1px;
}

/*.userPost {
    border-radius: 20px;
    background: rgba(100, 100, 100, 0.10);
    border: solid 2px transparent;
    color: black;
    font-size: 15px;
    margin: auto;
    width: 50%;
    padding: 1%;


}
.userPostContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.comment {
    border-radius: 50px;
    background: rgba(100, 100, 100, 0.10);
    border: solid 2px transparent;
    color: black;
    padding: 10px;
    font-size: 15px;


}
.commentContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.addCommentTxt {
    border-radius:11px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:10px;
    padding:16px 31px;
    width: 70%;
	text-decoration:none;


}

.addCommentBtn {
    border-radius:11px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:1% 1%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	background: var(--primary-red);
    min-width: 20%;
}


.postList {


}

.postListContainer {
    border-radius: 50px;
    background: rgba(100, 100, 100, 0.10);
    border: solid 2px transparent;
    color: black;
    padding: 10px;
    font-size: 15px;
    margin: auto;
    width: 50%;
    padding: 1%;


}

.commentPost {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.likes {

}
.likes:hover {
    color: pink;
}

.newpost {
    border-style: solid;
    background-color: rgb(245, 245, 245);
    /* border: black; */
/*}*/
